body {
  font-family: 'Playfair Display', serif;
  font-size:32px;
  margin: 10px;
}

.outerBorder{
  border:solid 4px black;
  width:750px;
  height:940px;
  left:50%;
  position:fixed;
  margin:0px 0px 25px -375px;
}


.heading{
  height:30px;
  font-size:36px;
  text-align:center;
  padding:0px;
  margin:0px;
  font-family: 'Playfair Display', serif;
}

.signature{
  height:16px;
  text-align:center;
  font-size:16px;
}

.game {
  position:fixed;
  left:50%;
  margin-left:-300px;
  height:600px;
  width:600px;
}

.chatScreen{
  margin-top:610px;
  position:fixed;
  left:50%;
  width:600px;
  margin-left:-300px;
  height:100px;
  border: 2px solid #999;
  font-family: 'Playfair Display', serif;
}

/* Square Styles */
.square {
  background: white;
  border: 0px solid rgb(27, 27, 27);
  font-size: 80px;
  font-weight: bold;
  height: 200px;
  width: 200px;
  float:left;
  font-family: 'Playfair Display', serif;
}

#topLeft{
  border-width: 0px 2px 2px 0px;
}

#topMiddle{
  border-width: 0px 2px 2px 2px;
}

#topRight{
  border-width: 0px 0px 2px 2px;
}

#middleLeft{
  border-width: 2px 2px 2px 0px;
}

#middleMiddle{
  border-width: 2px 2px 2px 2px;
}

#middleRight{
  border-width: 2px 0px 2px 2px;
}

#bottomLeft{
  border-width: 2px 2px 0px 0px;
}

#bottomMiddle{
  border-width: 2px 2px 0px 2px;
}

#bottomRight{
  border-width: 2px 0px 0px 2px;
}


.leftButton{
  position:fixed;
  top:800px;
  left:50%;
  width:290px;
  height:130px;
  font-size:30px;
  font-family: 'Playfair Display', serif;
  margin:10px 10px 0px -300px;
  background-color:white;
  border:solid 1px grey;
}

.rightButton{
  position:fixed;
  top:800px;
  left:50%;
  width:290px;
  height:130px;
  font-size:30px;
  font-family: 'Playfair Display', serif;
  margin:10px 0px 0px 10px;
  background-color:white;
  border:solid 1px grey;
}

.github{
  width:50px;
  height:50px;
  border:solid 0px transparent;
  background-color:transparent;
}
